*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: monospace;
}
.curcer{
    height: 20px;
    width: 20px;
    background: #000;
    border-radius: 50%;
    position: absolute;
}

.hov:hover{
    box-shadow: 5px 4px 7px #85ff6075;
}

header nav{
    max-width: 1440px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 0px;
    margin: 0px auto;
}
nav h1{
    display: flex;
    align-items: center;
    gap: 20px;
}
nav h1 i{
    transform: rotate(45deg);
}
.menu a{
    text-decoration: none;
    color: black;
    font-size: 1.5rem;
}
.menu{
    display: flex;
    align-items: center;
    gap: 25px;
}
.prime-btn{
    padding: 15px 20px;
    background: transparent;
    border-radius: 5px;
    border: 1px solid black;
    font-size: 1.2rem;
    font-weight: 550;
}
/* section-0 */
.scetion-0{
    max-width: 1440px;
    width: 100%;
    margin: 0px auto;
}
svg path{
    stroke-width: 3;
}
/* hero-section */

.hero-section{
    max-width: 1440px;
    height: 65vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 50px auto;
    /* background-color: antiquewhite; */
}
.info{
    width: 50%;
    height: 100%;
}
.info h1{
    font-size: 4rem;
    margin-bottom:30px ;
}
.info p{
    font-size: 1.2rem;
    margin-bottom: 30px;
    line-height: 26px;
}
.hero-btn{
    padding: 15px 20px;
    font-size: 1.3rem;
    font-weight: 550;
    border-radius: 7px;
    border: 1px solid black;
    background: black;
    color: white;
}

.hero-Img{
    height: 100%;
    width: 50%;
}

/* section-2 */
.sponsor{
    max-width: 1440px;
    width: 100%;
    margin: 50px auto 150px auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.sponsor img{
    height: 50px;
}

/* section-3 */
.service{
    max-width: 1440px;
    width: 100%;
    margin: 0px auto;
}
.serv{
    display: flex;
    align-items: center;
    gap: 25px;
    margin-bottom: 100px;
}
.serv p{
    width: 40%;
}
.serv-btn{
    padding: 10px 50px;
    border: none;
    border-radius: 5px;
    font-size: 1.5rem;
    font-weight: 550;
    background-color:#93ff58;
}
.container{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    gap: 30px;
    margin-bottom: 100px;
}
.card-1{
    height: 270px;
    width: 40%;
    margin-bottom: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 17px;
    background: transparent;
    box-shadow: 4px 5px 10px #38ff5695;
    position: relative;
    border: 1px solid black;
}
.p1{
    width: 50%;
}
.p1 h3{
    font-size: 2.3rem;
    display: inline;
    background-color: #93ff58;
    position: absolute;
    top: 50px;
    left: 10px;
}
.p1 p i{
    font-size: 3rem;
    background: #93ff58;
    border-radius: 50%;
}
.p1 p{
    display: flex;
    align-items: center;
    gap: 15px;
    position: absolute;
    top: 150px;
    left: 10px;
}
.p2 img{
    height: 100%;
    width: 100%;
}
.p2{
    width: 50%;
    height: 100%;
}
/* section-4 */

.section-5{
    /* max-width: 1440px;
    width: 100%; */
    background-color: #dcff19;
    margin: 100px auto;
    overflow:hidden ;
}
.banner{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.obj{
    padding: 27px 30px;
}
.obj h1{
    white-space: nowrap;
    display: flex;
    gap: 20px;
}




/* section-5 */
.happen{
    height: 450px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1440px;
    width: 100%;
    background: #d2d0d077;
    border-radius: 20px;
    margin: 0px auto;
}
.happy{
    height: 100%;
    margin-top: 140px;
}
.happy h3{
    font-size: 2.6rem;
    padding: 30px 30px;
}
.happy p{
    padding: 0px 30px;
    font-size: 1.2rem;
}
.happy button{
    margin:30px 30px;
}
.case{
    max-width: 1440px;
    width: 100%;
    margin: 100px auto;
    display: flex;
    gap: 20px;
}
.case p{
    width: 50%;
}
.case h1{
    font-size: 2.2rem;
    background-color: #93ff58;
}
.happy-btn{
    padding: 15px 20px;
    background: #151515;
    color: #fff;
    border-radius: 7px;
    border: none;
    font-size: 1.2rem;
}

.footer-container{
    max-width: 1440px;
    width:100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 50px auto;
    background: #151515;
    color:#fff;
    height: 400px;
    border-radius: 20px;
    margin-bottom: 100px;
}
.f-card p{
    font-size: 1.4rem;
    padding: 30px;
}
#icn{
    color: #93ff58;
}
#icn i{
    font-weight: 600;
    font-size: 1.8rem;
}

.copy{
    max-width: 1440px;
    width: 100%;
    margin: 50px auto;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
}

#black{
    background-color: #151515;
    border: 1px solid #fff;
    /* color: #fff; */
}
#o{
    color: #fff;
}
.o{
    color: black;
}
.divided{
    height: 80%;
    width: 3px;
    border-radius: 50%;
    background-color: #fff;
}